
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>栏目管理</h1>
<!-- 搜索栏 -->
<div class="layui-form-item demoTable" style="margin-top:5px;">
    <div class="layui-inline">
        <div class="layui-input-inline">
            @*<input id="artname" name="artname" autocomplete="off" class="layui-input" placeholder="-请选择-">*@
            <select id="artname" name="artname" class="layui-input">
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input id="folname" name="folname" autocomplete="off" class="layui-input" placeholder="-请选择-">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            @*<input id="status" name="status" autocomplete="off" class="layui-input" placeholder="-请选择-">*@
            <select id="status" name="status" class="layui-input" lay-filter="aihao">
                <option value="0">-请选择-</option>
                <option value="1">显示</option>
                <option value="2">隐藏</option>
            </select>
        </div>
    </div>
    <button class="layui-btn layui-btn-primary" id="btncha"><i class="layui-icon">&#xe615;</i>查询</button>
    <button class="layui-btn layui-btn-primary" id="btnchong"><i class="layui-icon">&#xe9aa;</i>重置</button>
    <button class="layui-btn layui-btn-primary" id="btnzeng" data-type="auto"><i class="layui-icon">&#xe654;</i>新增</button>
</div>
<table class="layui-hide" id="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test',
            url: 'http://localhost:64502/api/Folder/Index',
            method: 'post',
            cols: [[
                { field: 'id', width: 60, title: '序号', sort: true },
                { field: 'parentId', width: 90, title: '编号' },
                { field: 'name', width: 120, title: '名称', sort: true },
                { field: 'key', width: 120, title: 'urlkey', sort: true },
                { field: 'path', title: '模板路径', minWidth: 85 },
                { field: 'sort', width: 110, title: '排序' },
                { field: 'status', width: 110, title: '状态' },
                { field: 'type', width: 110, title: '类型' },
                { field: 'jumpUrl', width: 110, title: '地址' },
                { field: 'content', width: 110, title: '说明' },
                { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]],
            page: true
        });
    });
</script>