
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>栏目管理</h1>
<!-- 搜索栏 -->
<div class="layui-form-item demoTable" style="margin-top:5px;">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input id="folname" autocomplete="off" class="layui-input" placeholder="请输入名称">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            <select id="status" class="layui-input" lay-filter="aihao">
                <option value="0">-请选择-</option>
                <option value="1">显示</option>
                <option value="2">隐藏</option>
            </select>
        </div>
    </div>
    <button class="layui-btn layui-btn-primary" id="btncha"><i class="layui-icon">&#xe615;</i>查询</button>
    <button class="layui-btn layui-btn-primary" id="btnchong"><i class="layui-icon">&#xe9aa;</i>重置</button>
    <button class="layui-btn layui-btn-primary" id="btnzeng" data-type="auto"><i class="layui-icon">&#xe654;</i>新增</button>
</div>
<table class="layui-hide" lay-filter="test" id="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 添加，修改弹出层 -->
<form class="layui-form" id="create" hidden="hidden">
    <table>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="parentId" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">urlkey</label>
                    <div class="layui-input-inline">
                        <input type="text" name="key" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">模板路径</label>
                    <div class="layui-input-inline">
                        <input type="text" name="path" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sort" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="status" value="1" title="隐藏">
                        <input type="radio" name="status" value="2" title="显示" checked>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-filter="aihao">
                            <option value="1">目录</option>
                            <option value="2">根目录</option>
                            <option value="3">子目录</option>
                        </select>
                    </div>
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="jumpUrl" placeholder="请输入" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">说明</label>
                    <div class="layui-input-block">
                        <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</form>

<script>

    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    //数据表格
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {
        var laydate = layui.laydate,//日期
            laypage = layui.laypage,//分页
            layer = layui.layer,//弹层
            table = layui.table,//表格
            carousel = layui.carousel, //轮播
            upload = layui.upload,//上传
            element = layui.element, //元素操作
            slider = layui.slider, //滑块
            form = layui.form
        //显示数据
        table.render({
            elem: '#test',
            url: 'http://localhost:64502/api/Folder/Index',
            cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            page: true,  //开启分页
            limit: 5,
            limits: [5, 10, 15],
            cols: [[
                { field: 'zizeng', width: 80, title: '排名', fixed: 'left', sort: true, templet: '#zizeng' },
                { field: 'parentId', width: 90, title: '编号' },
                { field: 'name', width: 120, title: '名称', sort: true },
                { field: 'key', width: 120, title: 'urlkey', sort: true },
                { field: 'path', title: '模板路径', minWidth: 85 },
                { field: 'sort', width: 60, title: '排序' },
                { field: 'status', width: 110, title: '状态' },
                { field: 'type', width: 110, title: '类型' },
                { field: 'jumpUrl', width: 110, title: '地址' },
                { field: 'content', width: 110, title: '说明' },
                { fixed: 'right', title: '操作', width: 178, align: 'center', toolbar: '#barDemo' }
            ]]
        });
        //重载查询
        $('#btncha').on('click', function () {
            table.reload('test', {
                where: { //设定异步数据接口的额外参数，任意设
                    folname: $('#folname').val(),
                    status: $('#status').val()
                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); //只重载数据
        });
        //右侧点击按钮
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看当前栏目详情');
                layer.open({
                    type: 1,
                    title: '修改栏目内容',
                    content: $('#create'),
                    width: '500px',
                    area: ["700px", "450px"],
                    btn: ['提交', '关闭全部'],
                    btnAlign: 'c', //按钮居中
                    shade: 0,//不显示遮罩
                    success: function () {
                        //反填数据
                        $('[name="parentId"]').val(data.parentId);
                        $('[name="name"]').val(data.name);
                        $('[name="key"]').val(data.key);
                        $('[name="path"]').val(data.path);
                        $('[name="sort"]').val(data.sort);
                        if (data.status == 1) {
                            $("#status1").prop('checked', true)
                        } else if (data.status == 2) {
                            $("#status2").prop('checked', true)
                        };
                        $('[name="type"]').val(data.type);
                        $('[name="jumpUrl"]').val(data.jumpUrl);
                        $('[name="content"]').val(data.content);
                        form.render('select')
                        form.render('radio')
                    }, btn1: function (index, layero) {

                    }, btn2: function () {
                        layer.closeAll();
                    }
                });
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: 'http://localhost:64502/api/Folder/Del',
                        type: 'delete',
                        data: '"' + data.id + '"',
                        dataType: "json",
                        contentType: "application/json",
                        success: function (result) {
                            if (result > 0) {
                                alert("删除成功！");

                            }
                            else {
                                alert("删除失败！")
                            }
                        }
                    });
                    location.reload();
                });
            } else if (layEvent === 'edit') {
                layer.open({
                    type: 1,
                    title: '修改栏目内容',
                    content: $('#create'),
                    width: '500px',
                    area: ["700px", "450px"],
                    btn: ['提交', '关闭全部'],
                    btnAlign: 'c', //按钮居中
                    shade: 0,//不显示遮罩
                    success: function () {
                        //反填数据
                        $('[name="parentId"]').val(data.parentId);
                        $('[name="name"]').val(data.name);
                        $('[name="key"]').val(data.key);
                        $('[name="path"]').val(data.path);
                        $('[name="sort"]').val(data.sort);
                        if (data.status == 1) {
                            $("#status1").prop('checked', true)
                        } else if (data.status == 2) {
                            $("#status2").prop('checked', true)
                        };
                        $('[name="type"]').val(data.type);
                        $('[name="jumpUrl"]').val(data.jumpUrl);
                        $('[name="content"]').val(data.content);
                        form.render('select')
                        form.render('radio')
                    }, btn1: function (index, layero) {

                        //修改方法
                        //alert(data.id);
                        $.ajax({
                            url: 'http://localhost:64502/api/Folder/Alter',
                            type: 'put',
                            data: JSON.stringify({
                                id: data.id,
                                parentId: $('[name="parentId"]').val(),
                                name: $('[name="name"]').val(),
                                key: $('[name="key"]').val(),
                                path: $('[name="path"]').val(),
                                sort: $('[name="sort"]').val(),
                                status: $('[name="status"]:checked').val(),
                                type: $('[name="type"]').val(),
                                jumpUrl: $('[name="jumpUrl"]').val(),
                                content: $('[name="content"]').val()
                            }),
                            success: function (data) {
                                if (data > 0) {
                                    alert("修改成功");
                                    location.reload();

                                    table.reload('test', {
                                        where: { //设定异步数据接口的额外参数，任意设
                                        }
                                        , page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    }); //只重载数据
                                } else {
                                    alert("修改失败");
                                }
                            },
                            dataType: "json",
                            contentType: "application/json"
                        });
                        return false;
                    }, btn2: function () {
                        layer.closeAll();
                    }
                });
            }

        });



    });
    //重置按钮
    $('#btnchong').click(function () {
        $('#folname').val(""),
            $('#status').val(0);
    })
    //新增弹出方法
    $('#btnzeng').click(function () {
        layer.open({
            type: 1,
            title: '添加栏目',
            content: $('#create'),
            width: '500px',
            area: ["700px", "450px"],
            btn: ['提交', '关闭全部'],
            btnAlign: 'c', //按钮居中
            shade: 0, //不显示遮罩
            success: function () {
                $("#create")[0].reset();
                layui.form.render();
            },
            btn1: function () {
                //alert(JSON.stringify(data.field));
                //添加方法
                $.ajax({
                    url: 'http://localhost:64502/api/Folder/Add',
                    type: 'post',
                    data: JSON.stringify({
                        parentId: $('[name="parentId"]').val(),
                        name: $('[name="name"]').val(),
                        key: $('[name="key"]').val(),
                        path: $('[name="path"]').val(),
                        sort: $('[name="sort"]').val(),
                        status: $('[name="status"]:checked').val(),
                        type: $('[name="type"]').val(),
                        jumpUrl: $('[name="jumpUrl"]').val(),
                        content: $('[name="content"]').val()
                    }),
                    success: function (data) {
                        if (data > 0) {
                            alert("添加成功");

                            //初始化弹窗
                            $("#create")[0].reset();
                            layui.form.render();

                            location.reload();
                            table.reload('test', {
                                where: { //设定异步数据接口的额外参数，任意设
                                }, page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            }); //只重载数据
                        } else {
                            alert("添加失败");
                        }
                    },
                    dataType: "json",
                    contentType: "application/json"
                });
                return false;
            },
            btn2: function () {
                layer.closeAll();
            }
        });
    })

</script>