@model JanChaMVC.Models.User

@{
    ViewData["Title"] = "Registration";
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <link href="~/css/adminlogin.css" rel="stylesheet" />
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        @*<img src="~/Img/asd (122).jpg" style="width:100%;height:100%" />*@
        <img src="~/Img/20210204_161228_981899.jpg" style="width:100%;height:100%" />
        <div class="loginForm" style="width: 0px;height: 0px;">
            <form class="layui-form">
                <div class="layui-form-item">

                    <label for="" class="layui-form-label">用户名:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="UserName" class="layui-input" lay-verify="required" type="text" name="UserName" placeholder="输入用户名">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="" class="layui-form-label">性别:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input class="layui-radio-disbaled" value="0" type="radio" name="UserSex" checked="checked" />男
                        <input class="layui-radio-disbaled" value="1" type="radio" name="UserSex">女
                    </div>
                </div>

                <div class="layui-form-item">

                    <label for="" class="layui-form-label">年龄:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="Age" class="layui-input adminInput" lay-verify="required|number" type="text" name="Age" placeholder="输入年龄">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="" class="layui-form-label">手机号:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="Phone" class="layui-input adminInput" lay-verify="phone" type="text" name="Phone" placeholder="输入手机号">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label for="" class="layui-form-label">电子邮件:</label>

                        <div class="layui-input-block" style="width:200px;">
                            <input type="text" id="Emile" name="Emile" lay-verify="email" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="" class="layui-form-label">备注:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="Note" class="layui-input adminInput" lay-verify="required" type="text" name="Note" placeholder="备注">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="" class="layui-form-label">账号:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="Number" class="layui-input adminInput" lay-verify="Number" type="text" name="Number" placeholder="请输入账号">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="" class="layui-form-label">密码:</label>

                    <div class="layui-input-block" style="width:200px;">
                        <input id="Password" class="layui-input adminInput" lay-verify="required" type="text" name="Password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="usernameDiv">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/layui-v2.5.7/layui/layui.js" charset="utf-8"></script>
    <script>

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;


            form.on('submit(demo1)', function () {

                var UserName = $('#UserName').val();
                var UserSex = $('#wrap input[name="UserSex"]:checked ').val();

                UserSex = UserSex == "0" ? true : false;
                var Age = $('#Age').val();
                var Phone = $('#Phone').val();
                var Emile = $('#Emile').val();
                var Note = $('#Note').val();
                var Number = $('#Number').val();
                var Password = $('#Password').val();
                $.ajax({
                    url: "http://localhost:64502/api/Login/Registration",
                    data:
                        JSON.stringify({
                            UserName: UserName,
                            UserSex: UserSex,
                            Age: Age,
                            Phone: Phone,
                            Emile: Emile,
                            Note: Note,
                            Number: Number,
                            Password: Password
                        }),
                    type: 'post',
                    success: function (resut) {
                        if (resut > 0) {
                            alert("注册成功");
                            location.href = "/HomeController1/Login";
                        } else {
                            alert("注册失败");
                            location.reload();
                        }
                    },
                    contentType: 'application/json;'
                })

                return false;
            });
        })
    </script>

</body>
</html>
