
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
   /* body {
        text-align: center
    }*/
    #divcss1 {
        width: 1910px;
        height: 1150px;
    }
    #divcss2 {
        width:1915px;
        height:50px;
        text-align:center;
    }
    #divcss3 {
        width:900px;
        height:800px;
        padding-top:20px;
        margin-left:25%;
    }
    #divcss4 a {
        display:none;
    }
    #divcss4:hover a {
        display: block;
    }
</style>
<div id="divcss1" style="padding-bottom:100px">
    <img src="~/Img/banner.png" style="width:1915px" />
    <div id="divcss2">
        <h1>----------------------------------------------------关于我们----------------------------------------------------</h1>
    </div>
    <div id="divcss3">
        <div style="width:430px;height:430px;float:left">
            <img src="~/Img/20190929_180024_749030.jpg" style="width:100%;height:100%" />
        </div>
        <div style="width:430px;height:430px;float:right;line-height:30px">
            <img src="~/Img/gao9.jpg"  />
            <p style="">
                <h2>维生特简介</h2>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维生特企业管理服务（上海）有限责任公司（以下简称“维生特”）成立于2018年5月，为中梁控股集团全资子公司，是一家专业从事企业内部监察审计业务的咨询服务企业。
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;维生特目前服务项目覆盖中梁控股集团进驻的近140个城市，近400个项目在建及在管项目，并先后加入中国企业反舞弊联盟、阳光诚信联盟，利用社会资源，为中梁构建全社会全行业反腐败统一战线。
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价值引领，维生特秉持中梁文化价值观，“以霹雳手段，显菩萨心肠”，努力打造阳光透明、廉洁自律的生态经营环境，维护中梁人“开放、开拓、开创、共识、共担、共享”的创业平台。
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;展望未来，本着“维护中梁生态，磨砺先锋人才”的初心，维生特将致力于打造监审行业金字招牌，推进行业生态，造福社会文明。
            </p>
        </div>
        <div style="width:430px;height:300px;float:left;margin-top:20px;" id="divcss4">
            <img src="~/Img/aboutUS2.png" style="width:100%;height:100%" id="img4" />
            <h1 style="margin-top:-185px;margin-left:120px;font-size:50px;color:white">行为准则</h1>
            <a style="margin-top:-10px;margin-left:120px;font-size:45px;" href="/Admin/Guanyv/criterion">了解详情</a>
        </div>
        <div style="width:430px;height:300px;float:right;margin-top:20px" id="divcss4">
            <img src="~/Img/aboutUS4.png" style="width:100%;height:100%" />
            <h1 style="margin-top:-185px;margin-left:120px;font-size:50px;color:white">招聘信息</h1>
            <a style="margin-top:-10px;margin-left:120px;font-size:45px;" href="/Admin/Guanyv/recruit">了解详情</a>
        </div>
    </div>
    @*<div style="width:1000px;height:180px;margin-left:15%">
        <img src="~/Img/lj.png" />
        <h2 style="margin-top:-30px">相关链接</h2>
        <div style="width:1000px;height:100px;line-height:100px;margin-top:10px">
            <a style="margin-left: 20px" href="http://www.audit.gov.cn/index.html">中华人民共和国审计署</a>
            <span style="margin-left:20px">|</span>
            <a style="margin-left:20px" href="http://www.ciia.com.cn/index.html">中国内部审计协会</a>
            <span style="margin-left:20px">|</span>
            <a style="margin-left:20px" href="http://www.fanwubi.org/">企业反舞弊联盟</a>
            <span style="margin-left:20px">|</span>
            <a style="margin-left:20px" href="https://www.ctiea.com/">阳光诚信联盟</a>
        </div>
    </div>*@
</div>
