
@{
    ViewData["Title"] = "Insight";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>研究洞察</title>

    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <style>
        .hotList {
            font-size: 15px;
            margin: 14px 20px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px dashed #b9b2b2;
            padding-bottom: 12px;
        }
    </style>
</head>
<body>

    <div style="margin-bottom:100px;">
        <img src="~/Img/新闻中心.jpg" style="width:100%;" />
    </div>
    <hr class="layui-bg-gray" style="height:10px;border:1px solid #808080;">
    <div style="width:250px;height:160px;background-color:#fff;margin-left:45%; margin-top:-70px;">
        <p style="width:160px; padding:20px 0;border-bottom:1px solid;font-size:40px;margin-left:50px;">
            研<span style="border-bottom:5px solid; padding:20px 0;">究洞</span>察
        </p>
    </div>


    <div style="width:1200px;height:316px; margin:50px auto; border:3px solid #b9b2b2">
        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_160818_630396.png" style="width:365px;height:195px; margin-bottom:25px; border:1px solid #141b53" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">中梁控股"三道红线降档"</p>
                    </div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_161815_340427.png" style="width:365px;height:195px; margin-bottom:25px;" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">业绩快报 | 中梁​2020全年累计合约销售1688亿元，稳居行业20强</p>
                    </div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_161228_981899.jpg" style="width:365px;height:195px; margin-bottom:25px;" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">中梁控股"三道红线降档"</p>
                    </div>
                </div>
                <div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_160818_630396.png" style="width:365px;height:195px; margin-bottom:25px; border:1px solid #141b53" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">中梁控股"三道红线降档"</p>
                    </div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_161815_340427.png" style="width:365px;height:195px; margin-bottom:25px;" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">业绩快报 | 中梁​2020全年累计合约销售1688亿元，稳居行业20强</p>
                    </div>
                    <div style="width: 365px; margin: 25px 0px 25px 25px; float: left;">
                        <img src="~/Img/20210204_161228_981899.jpg" style="width:365px;height:195px; margin-bottom:25px;" />
                        <p style="margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">中梁控股"三道红线降档"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:1200px;height:900px; margin:0 auto;margin-top:50px;">
        <div style="float:left;">
            <div style="width:868px;height:240px; border:1px solid #b9b2b2;margin-bottom:20px;" onmouseover="this.style.background='#141b53', this.style.color='#fff'" onmouseout="this.style.background='',this.style.color='#000'">
                <div style="margin:20px;">
                    <img src="~/Img/20190823_160223_717912.jpg" style="width:350px;height:200px; margin-right:50px; float:left;" />
                    <div style="width:400px;height:200px; float:left;">
                        <h3 style="margin-bottom:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">稳健前行！中梁首入中国民企500强，并获上海民营企业10强</h3>
                        <p style="margin-bottom: 50px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                            8月22日，全国工商联发布《2019中国民营企业500强榜单》，中梁（2772.HK）以304.2亿元的营业收入位列第280名，
                            这也是中梁首次跻身此榜单。在同步公布的“中国民营企业服务业100强”的榜单中，中梁控股亦榜上有名，位列第78位。
                            值得关注的是，在8月19日发布的“2019上海民营企业100
                        </p>
                        <p style="margin-bottom: 15px;">
                            <i class="layui-icon">&#xe68d;</i>
                            <span>2019-08-23</span>
                            <a href="">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="width:868px;height:240px; border:1px solid #b9b2b2;margin-bottom:20px;" onmouseover="this.style.background='#141b53', this.style.color='#fff'" onmouseout="this.style.background='',this.style.color='#000'">
                <div style="margin:20px;">
                    <img src="~/Img/20190823_160223_717912.jpg" style="width:350px;height:200px; margin-right:50px; float:left;" />
                    <div style="width:400px;height:200px; float:left;">
                        <h3 style="margin-bottom:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">稳健前行！中梁首入中国民企500强，并获上海民营企业10强</h3>
                        <p style="margin-bottom: 50px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                            8月22日，全国工商联发布《2019中国民营企业500强榜单》，中梁（2772.HK）以304.2亿元的营业收入位列第280名，
                            这也是中梁首次跻身此榜单。在同步公布的“中国民营企业服务业100强”的榜单中，中梁控股亦榜上有名，位列第78位。
                            值得关注的是，在8月19日发布的“2019上海民营企业100
                        </p>
                        <p style="margin-bottom: 15px;">
                            <i class="layui-icon">&#xe68d;</i>
                            <span>2019-08-23</span>
                            <a href="">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="width:868px;height:240px; border:1px solid #b9b2b2;margin-bottom:20px;" onmouseover="this.style.background = '#141b53', this.style.color='#fff'" onmouseout="this.style.background='',this.style.color='#000'">
                <div style="margin:20px;">
                    <img src="~/Img/20190823_160223_717912.jpg" style="width:350px;height:200px; margin-right:50px; float:left;" />
                    <div style="width:400px;height:200px; float:left;">
                        <h3 style="margin-bottom:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">稳健前行！中梁首入中国民企500强，并获上海民营企业10强</h3>
                        <p style="margin-bottom: 50px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                            8月22日，全国工商联发布《2019中国民营企业500强榜单》，中梁（2772.HK）以304.2亿元的营业收入位列第280名，
                            这也是中梁首次跻身此榜单。在同步公布的“中国民营企业服务业100强”的榜单中，中梁控股亦榜上有名，位列第78位。
                            值得关注的是，在8月19日发布的“2019上海民营企业100
                        </p>
                        <p style="margin-bottom: 15px;">
                            <i class="layui-icon">&#xe68d;</i>
                            <span>2019-08-23</span>
                            <a href="">了解详情</a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="width:868px;margin-top:50px;">
                <ul class="pagination" style="font-size:20px; float:right">
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2">
                        <a href="/news?pn=2" style="margin-left:15px;margin-top:20px;">&lt;</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2">
                        <a href="/news?pn=1" style="margin-left:15px;margin-top:20px;">1</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2">
                        <a href="/news?pn=2" style="margin-left:15px;margin-top:20px;">2</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2;">
                        <a href="" style="margin-left:15px;margin-top:20px;">3</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2;">
                        <a href="/news?pn=4" style="margin-left:15px;margin-top:20px;">4</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2;">
                        <a href="/news?pn=5" style="margin-left:15px;margin-top:20px;">5</a>
                    </li>
                    <li style="float:left; width:40px;height:40px;margin-right:10px; background-color:#ebe2e2;">
                        <a href="/news?pn=4" style="margin-left:15px;margin-top:20px;">&gt;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="width:300px; float:right; ">
            <div style="width:300px;height:349px; border:1px solid #b9b2b2;">
                <div style="width:300px;height:53px;background-color:gainsboro">
                    <span style="font-size:20px; margin-top:12px;margin-left:20px; float:left;">热门推荐</span>
                </div>
                <div style=" width:260px;float:left;">
                    <p class="hotList" style="border-bottom:1px dashed #b9b2b2;padding-bottom:12px;">
                        一笺说丨有信用，走大道 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                    <p class="hotList">
                        一笺说丨成功=思维方式×热情×能力 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                    <p class="hotList">
                        一笺说丨为什么要跟懂规矩的人一起“玩” 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                    <p class="hotList">
                        共建廉洁共同体，打造合规生态圈——阳光诚信联... 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                    <p class="hotList">
                        稳健前行！中梁首入中国民企500强，并获上海... 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                    <p class="hotList">
                        做企业：吾有菩萨心肠，亦能霹雳手段 住建部约谈、房贷利率上调 楼市调控...
                    </p>
                </div>
            </div>
            <div style="width:300px;height:191px; border:1px solid #b9b2b2; margin-top:30px;">
                <div style="width:300px;height:53px;background-color:gainsboro">
                    <span style="font-size:20px; margin-top:12px;margin-left:20px; float:left;">联系我们</span>
                </div>
                <div class="touchUs">
                    <div class="e-mail" style="margin-top:25px;margin-left:20px;">
                        <p><i class="layui-icon">&#xe626;</i>   业务咨询电话： &nbsp;&nbsp;&nbsp;02152682699</p>
                    </div>
                    <div class="tel" style="margin-top:25px;margin-left:20px;">
                        <p><i class="layui-icon">&#xe626;</i>   投诉举报电话： &nbsp;&nbsp;&nbsp;4006561700</p>
                    </div>
                </div>
            </div>
            <div style="width:300px;height:300px; background-color:gainsboro; margin-top:30px;">
                <div style="width: 300px; height: 99px; border-bottom: 1px solid #b9b2b2">
                    <a href="">
                        <img src="~/Img/投诉举报.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                        <span style="margin-top:80px;margin-left:30px; font-size:20px;">投诉举报</span>
                    </a>
                </div>
                <div style="width: 300px; height: 100px; border-bottom: 1px solid #b9b2b2">
                    <a href="">
                        <img src="~/Img/问卷调查.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                        <span style="margin-top:80px;margin-left:30px; font-size:20px;">问卷调查</span>
                    </a>
                </div>
                <div style="width: 300px; height: 99px; border-bottom: 1px solid #b9b2b2">
                    <a href="">
                        <img src="~/Img/加入我们.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                        <span style="margin-top:80px;margin-left:30px; font-size:20px;">加入我们</span>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <script>
        //一般直接写在一个js文件中
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                , form = layui.form;


        });

        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                , width: '100%' //设置容器宽度
                , height: '100%'
                //, arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
</body>
</html>

