
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="width:100%;height:100%;">
    <div class="boxCenter footer" style="margin-top:-50px;padding:1%;">
        <img alt="" src="~/Img/服务与行业类型.jpg" />
    </div>

    <div style="height:70%;">
        <div style="width:250px;margin:0 auto;padding:1%;">
            <span style="font-size:50px;">
                <i>行业 / 服务</i>
            </span>
        </div>
        <div>
            <div style="width:150px;margin:0 auto;padding:1%;">
                <span style="font-size:30px;">
                    <i>行业类型</i>
                </span>
            </div>
            <a href="/Admin/Service/Vocation">
                <div style="margin:0 auto;width:65%;height:420px;background-color:aqua;">
                    <div style="width:500px;float:left;text-align:center;background-color:azure;margin-top:100px;">

                        <span style="font-size:30px;">
                            <i style="margin-left:40px;">房地产行业</i><br />
                            <i>
                                11111111111111111<br />
                                11111111111111111<br />
                                11111111111111111<br />
                                11111111111111111<br />
                            </i>
                        </span>

                    </div>
                    <div style="width:30%;height:500px;float:left;margin-right:1px;">
                        <img src="~/Img/行业类型.jpg" />
                    </div>
                </div>
            </a>
        </div> 
            <div style="width:90%;height:500px;margin:0 auto;">
                <div style="width:150px;margin:0 auto;padding:1%;">
                    <span style="font-size:30px;">
                        <i>服务类型</i>
                    </span>
                </div>
                <div style="margin:0 auto;width:80%;height:50%;">
                    <a href="/Admin/Service/service">
                        <div style="width:30%;margin:10px;float:left;">
                            <img src="~/Img/审计.jpg" /><br />
                            <i style="font-size:30px;margin-left:150px;">审计</i>
                        </div>
                    </a>
                    <a href="/Admin/Service/service">
                        <div style="width:30%;margin:10px;float:left;">
                            <img src="~/Img/舞弊调查.jpg" /><br />
                            <i style="font-size:30px;margin-left:150px;">舞弊调查</i>
                        </div>
                    </a>
                    <a href="/Admin/Service/service">
                        <div style="width:30%;margin:10px;float:left;">
                            <img src="~/Img/咨询.png" /><br />
                            <i style="font-size:30px;margin-left:150px;">咨询</i>
                        </div>
                    </a>
                </div>
            </div> 
         
    </div>

</div>

