
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<title>行业服务</title>
<div style="width:100%;height:100%;">
    <div style="margin-bottom:100px;">
        <img src="~/Img/服务与行业类型.jpg" style="width:100%;" />
    </div>
    <div style="height:70%;">
        <hr class="layui-bg-gray" style="height:10px;border-style:solid;margin-top:40px;">
        <div style="width:250px;height:160px;background-color:#fff;margin-left:45%; margin-top:-50px;">
            <p style="width:160px; padding:20px 0;border-bottom:1px solid;font-size:40px;margin-left:50px;">
                <span style="border-bottom:5px solid; padding:20px 0;" id="hy">
                    @*行业服务*@
                </span>
            </p>
        </div>
        <div>
            <div style="width:150px;margin:0 auto;padding:1%;">
                <span style="font-size:30px;" id="Tittle1">
                    <i>@*行业类型*@</i>
                </span>
            </div>
            <a href="/Admin/Service/Vocation">
                <div style="margin:0 auto;width:65%;height:420px;background-color:aqua;">
                    <div style="width:500px;float:left;text-align:center;background-color:azure;margin-top:100px;">

                        <span style="font-size:30px;" id="Tittle11">
                            <!--<i style="margin-left:40px;">-->@*房地产行业*@<!--</i><br />
                            <i>-->
                                @*11111111111111111<br />
                                11111111111111111<br />
                                11111111111111111<br />
                                11111111111111111<br />*@
                            <!--</i>-->
                        </span>

                    </div>
                    <div style="width:30%;height:500px;float:left;margin-right:1px;">
                        <img src="~/Img/行业类型.jpg" />
                    </div>
                </div>
            </a>
        </div>
        <div style="width:90%;height:500px;margin:0 auto;">
            <div style="width:150px;margin:0 auto;padding:1%;">
                <span style="font-size:30px;" id="Tittle2">
                    @*<i>服务类型</i>*@
                </span>
            </div>
            <div style="margin:0 auto;width:80%;height:50%;">
                <a href="/Admin/Service/service">
                    <div style="width:30%;margin:10px;float:left;">
                        <img src="~/Img/审计.jpg" /><br />
                        <i style="font-size:30px;margin-left:150px;" id="Tittle21">@*审计*@</i>
                    </div>
                </a>
                <a href="/Admin/Service/service">
                    <div style="width:30%;margin:10px;float:left;">
                        <img src="~/Img/舞弊调查.jpg" /><br />
                        <i style="font-size:30px;margin-left:150px;" id="Tittle22">@*舞弊调查*@</i>
                    </div>
                </a>
                <a href="/Admin/Service/service">
                    <div style="width:30%;margin:10px;float:left;">
                        <img src="~/Img/咨询.png" /><br />
                        <i style="font-size:30px;margin-left:150px;" id="Tittle23">@*咨询*@</i>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
<script>
    $(function () {
        $.ajax({
            url: 'http://localhost:64502/api/Tab/Index',
            type: 'get',
            success: function (data) {
                var list = "";
                $(data).each(function () {
                    list += "" + this.tittle + "";
                });
                $("#hy").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "<i>" + this.tittle1 + "</i>";
                });
                $("#Tittle1").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "<i style='margin-left:40px;'>" + this.tittle11 + "</i><br />";
                    list += "<i>" + this.tittle11+"</i>";
                });
                $("#Tittle11").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "<i>" + this.tittle2 + "</i>";
                }); 
                $("#Tittle2").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "" + this.tittle21 + "";
                });
                $("#Tittle21").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "" + this.tittle22 + "";
                });
                $("#Tittle22").empty().append(list);

                var list = "";
                $(data).each(function () {
                    list += "" + this.tittle23 + "";
                });
                $("#Tittle23").empty().append(list);
            }

        })
    })

       
    

</script>

