
@{
    ViewData["Title"] = "service";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="boxCenter footer" style="margin-top:-50px;padding:1%;">
    <img alt="" src="~/Img/服务与行业类型.jpg" />
</div>

<div style="height:872px;width:1200px;border:1px solid;margin:0 auto;">
    <div style="width:1200px;height:26px;padding:40px 0px;">
        <a style="font-size:30px;margin-left:45%;">
            服务类型
        </a>
    </div>
    <div style="width:190px;height:666px;padding:20px,10px;float:left;background-color:aliceblue;margin-left:150px;">
        @*<ul style="width:170px;height:129px;padding-left:10px;padding-top:20px;">
                <li>
                    <p style="width:155px;height:37px;text-align:center;border-bottom:1px solid;">
                        <span id="a">
                            审计
                        </span>
                    </p>
                    <dl style="width:140px;height:62px;padding:0px,0px,30px;display:block;">
                        <dd style="width:158px;height:19px;padding:10px,0px,2px;text-align:center;">
                            <a href="javascript:;" id="324" name="投资立项审计">投资立项审计</a>
                        </dd>
                        <dd style="width:158px;height:19px;padding:10px,0px,2px;text-align:center;">
                            <a href="javascript:;" id="325" name="设计（勘察）管理审计">设计（勘察）管理审计</a>
                        </dd>
                        <dd style="width:158px;height:19px;padding:10px,0px,2px;text-align:center;">
                            <a href="javascript:;" id="326" name="招投标审计">招投标审计</a>
                        </dd>

                    </dl>
                </li>

                <li>
                    <p style="width:155px;height:37px;text-align:center;border-bottom:1px solid;">
                        <span>
                            舞弊调查
                        </span>
                    </p>
                    <dl>
                        <dd>

                        </dd>
                    </dl>
                </li>
                <li>
                    <p style="width:155px;height:37px;text-align:center;border-bottom:1px solid;">
                        <span>
                            咨询
                        </span>
                    </p>
                    <dl>
                        <dd>

                        </dd>
                    </dl>
                </li>
            </ul>*@
        <ul style="text-align:center;">
            <li style="border-bottom: 1px solid;">

                <p style="border-bottom: 1px solid;" id="sj">
                    <span>审计</span>
                </p>

                <dl>
                    <dd>
                        <a href="https://www.baidu.com/" target="qwe" >投资立项审计</a> 
                    </dd>
                    <dd>
                        <a href="javascript:;" id="325" name="设计（勘察）管理审计">设计（勘察）管理审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="326" name="招投标审计">招投标审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="327" name="合同管理审计">合同管理审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="328" name="设备和材料采购审计">设备和材料采购审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="329" name="工程管理审计">工程管理审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="330" name="工程造价审计">工程造价审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="331" name="竣工验收审计">竣工验收审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="332" name="财务管理审计">财务管理审计</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" id="333" name="后评价审计">后评价审计</a>
                    </dd>
                </dl>
            </li>
            <li style="border-bottom: 1px solid;">

                <p style="border-bottom: 1px solid;">
                    <span>舞弊调查</span>
                </p>

                <dl>
                    <dd>
                        <a href="javascript:;" id="315" name="舞弊调查">舞弊调查</a>

                    </dd>
                </dl>
            </li>
            <li style="border-bottom: 1px solid;">

                <p style="border-bottom: 1px solid;">
                    <span>咨询</span>
                </p>

                <dl>
                    <dd>
                        <a href="javascript:;" id="317" name="房地产风险管理咨询">房地产风险管理咨询</a>

                    </dd>
                    <dd>
                        <a href="javascript:;" id="318" name="造价咨询">造价咨询</a>

                    </dd>
                    <dd>
                        <a href="javascript:;" id="319" name="信息化咨询">信息化咨询</a>

                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div style="width:700px;height:666px;float:left;padding-left:10px;">
        <p style="width:380px;height:40px;font-size:20px;background-color:azure;padding-left:300px;">投资立项审计</p>
        <div style="width:600px;height:180px;padding-top:30px;padding-bottom:50px;padding-left:10px;padding-right:10px;text-align:center;">
           
            <iframe id="test" src="test.html" name="qwe"></iframe>
            
            <p></p>
            <span style="text-align:center;">
                asfdgfghhasdfghjasdfghjasdfghjasdfg<br />
                asfdghmjsdfghmasdfghjk,,kjhgfddsfghjk,.<br />
                ertyujikjkaasdfghjm,,ddfghjk,<br />
            </span>
        </div>
        <div style="width:750px;height:338px;margin-top:30px;border:1px,solid;">
            <img src="~/Img/行业类型2.jpg" style="float:left;" />
            <img src="~/Img/咨询.png" style="float:left;" />
        </div>
    </div> 
</div>

<div style="width:1018px;height:200px; margin:0 auto;margin-top:200px;margin-bottom:50px;">
    <div style="height:59px;">
        <h2 style="color:#808080">RELATED LINKS</h2>
        <h2 style="background-color:yellow; width:110px;margin-top:10px;">相关链接</h2>
    </div>
    <div style="margin-top:50px;">
        <ul>
            <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000"><b><a href="http://www.audit.gov.cn/index.html" target="_blank">中华人民共和国审计署</a></b></li>
            <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000"><b><a href="http://www.ciia.com.cn/index.html" target="_blank">中国内部审计协会</a></b></li>
            <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000"><b><a href="http://www.fanwubi.org/Index.html" target="_blank">企业反舞弊联盟</a></b></li>
            <li style="float:left;margin-right:20px;padding-right:20px;"><b><a href="https://www.ctiea.com/loginPage?ReturnUrl=http%3A%2F%2Fwww.ctiea.com%2Findex%2F" target="_blank">阳光诚信联盟</a></b></li>
        </ul>
    </div>
</div> 


