
@{
    ViewData["Title"] = "Vocation";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="boxCenter footer" style="margin-top:-50px;padding:1%;">
    <img alt="" src="~/Img/服务与行业类型.jpg" />
</div>

<div style="height:872px;width:1200px;border:1px solid;margin:0 auto;">
    <hr class="layui-bg-gray" style="height:10px;border-style:solid;">
    <div style="width:250px;height:160px;background-color:#fff;margin-left:45%; margin-top:-70px;">
        <p style="width:160px; padding:20px 0;border-bottom:1px solid;font-size:40px;margin-left:50px;">
            服<span style="border-bottom:5px solid; padding:20px 0;">务类</span>型
        </p>
    </div>
    <div style="width:190px;height:666px;padding:20px,10px;float:left;background-color:aliceblue;margin-left:150px;">
        <ul style="width:170px;height:129px;padding-left:10px;padding-top:20px;">
            <li>
                <p style="width:155px;height:37px;text-align:center;border-bottom:1px solid;">行业类型</p>
                <hr style="width:150px;height:2px;color:black" />
                <dl style="width:140px;height:62px;text-align:center;">
                    <dd style="width:158px;height:19px;padding:10px,0px,2px;">
                        <a href="">房地产行业</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div style="width:700px;height:666px;float:left;padding-left:10px;">
        <p style="width:380px;height:40px;font-size:20px;background-color:azure;padding-left:300px;">房地产行业</p>
        <div style="width:600px;height:180px;padding-top:30px;padding-bottom:50px;padding-left:10px;padding-right:10px;">
            <p style="text-align:center">
                <span>
                    132
                </span>
            </p>
            <p style="text-align:center">
                asfdgfghhasdfghjasdfghjasdfghjasdfg<br />
                asfdghmjsdfghmasdfghjk,,kjhgfddsfghjk,.<br />
                ertyujikjkaasdfghjm,,ddfghjk,<br />
            </p>
            <div id="showdiv" style="width:600px;height:180px;display:none;">
                <p style="text-align:center">
                    asfdgfghhasdfghjasdfghjasdfghjasdfg<br />
                    asfdghmjsdfghmasdfghjk,,kjhgfddsfghjk,.<br />
                    ertyujikjkaasdfghjm,,ddfghjk,<br />
                </p>
            </div>
            <div style="margin:0 auto;width:80px;height:20px;">
                <a onclick="showHideCode()"> 查看更多</a>
            </div>
        </div>
        <div style="width:750px;height:338px;margin-top:30px;border:1px,solid;">
            <img src="~/Img/行业类型2.jpg" style="float:left;" />
            <img src="~/Img/咨询.png" style="float:left;" />
        </div>
    </div>


</div>
@section scripts{
    <script>

            function showHideCode(){
                $("#showdiv").toggle();
             }
    </script>
}


