
@{
    ViewData["Title"] = "hotService";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<title>服务热线</title>

<div class="banner" style="width: 100%; overflow: hidden; position: relative; z-index: 2;top:-50px">
    <img alt="" src="~/Img/banner.png">
</div>
<hr class="layui-bg-gray" style="height:10px;border:1px solid #808080;">
<div style="width:250px;height:160px;background-color:#fff;margin-left:45%; margin-top:-70px;">
    <p style="width:160px; padding:20px 0;border-bottom:1px solid;font-size:40px;margin-left:50px;">
        服<span style="border-bottom:5px solid; padding:20px 0;">务热</span>线
    </p>
</div>
<div style="padding:35px;text-align: center;">
    <img alt="" src="~/Img/fwrx.png" style="width:80%; ">
</div>