
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    <style>
        /* body {
                    text-align: center;
                }
        */
        #div1 {
            width: 1300px;
            height: 900px;
            margin-left: 330px;
            margin-top: 50px;
            text-align:center;
            margin-bottom:30px
        }

        #div2 {
            margin-top: 50px
        }

        #div3 {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div style="margin-top:10px">
        <img src="/Img/新闻中心.jpg" />
    </div>
    <div id="div2">
        <span style="font-size:40px;margin-top:20px">---------------------------------------------------------------------- 要闻资讯 -----------------------------------------------------------</span>
    </div>
    <div id="div1">
        <div id="div3" style="width:800px;height:900px;float:left">
            <p style="font-size:30px">中梁控股"三道杠"</p>
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
            <br />
            <span>啊的时间就卡死的借记卡脚手架搭设就看见打算考虑到啦</span>
        </div>
        <div id="div4" style="width:420px;height:700px;float:left;margin-left:70px">
                <div style="width:300px;height:349px; border:1px solid #b9b2b2;">
                    <div style="width:300px;height:53px;background-color:gainsboro">
                        <span style="font-size:20px; margin-top:12px;margin-left:20px; float:left;">热门推荐</span>
                    </div>
                    <div style=" width:260px;float:left;">
                        <p class="hotList" style="border-bottom:1px dashed #b9b2b2;padding-bottom:12px;">
                            一笺说丨有信用，走大道 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                        <p class="hotList">
                            一笺说丨成功=思维方式×热情×能力 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                        <p class="hotList">
                            一笺说丨为什么要跟懂规矩的人一起“玩” 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                        <p class="hotList">
                            共建廉洁共同体，打造合规生态圈——阳光诚信联... 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                        <p class="hotList">
                            稳健前行！中梁首入中国民企500强，并获上海... 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                        <p class="hotList">
                            做企业：吾有菩萨心肠，亦能霹雳手段 住建部约谈、房贷利率上调 楼市调控...
                        </p>
                    </div>
                </div>
                <div style="width:300px;height:191px; border:1px solid #b9b2b2; margin-top:30px;">
                    <div style="width:300px;height:53px;background-color:gainsboro">
                        <span style="font-size:20px; margin-top:12px;margin-left:20px; float:left;">联系我们</span>
                    </div>
                    <div class="touchUs">
                        <div class="e-mail" style="margin-top:25px;margin-left:20px;">
                            <p><i class="layui-icon">&#xe626;</i>   业务咨询电话： &nbsp;&nbsp;&nbsp;02152682699</p>
                        </div>
                        <div class="tel" style="margin-top:25px;margin-left:20px;">
                            <p><i class="layui-icon">&#xe626;</i>   投诉举报电话： &nbsp;&nbsp;&nbsp;4006561700</p>
                        </div>
                    </div>
                </div>
                <div style="width:300px;height:300px; background-color:gainsboro; margin-top:30px;">
                    <div style="width: 300px; height: 99px; border-bottom: 1px solid #b9b2b2">
                        <a href="">
                            <img src="~/Img/投诉举报.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                            <span style="margin-top:80px;margin-left:30px; font-size:20px;">投诉举报</span>
                        </a>
                    </div>
                    <div style="width: 300px; height: 100px; border-bottom: 1px solid #b9b2b2">
                        <a href="">
                            <img src="~/Img/问卷调查.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                            <span style="margin-top:80px;margin-left:30px; font-size:20px;">问卷调查</span>
                        </a>
                    </div>
                    <div style="width: 300px; height: 99px; border-bottom: 1px solid #b9b2b2">
                        <a href="">
                            <img src="~/Img/加入我们.png" style="width:68px;height:68px; margin-top:15px;margin-left:40px;" />
                            <span style="margin-top:80px;margin-left:30px; font-size:20px;">加入我们</span>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
