
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <img src="/Img/2036148.jpg" style="z-index:-100;position:fixed;left:0;top:0;width:100%;height:100%" />
    <div style="width:900px;height:1200px;background-color:white;margin-left:550px;margin-top:80px">
        <div>
            <input type="hidden" id="data"/>
            <h1 style="margin-left:400px;padding-top:30px"><strong>监察小调研</strong></h1>
            <p style="padding-top: 30px;padding-left:80px;font-size:15px"><strong>各位伙伴，您好！ 2020年，集团取得了跨越式的发展。累累硕果的背后，离不开您的不懈奋斗！本次调研意在了解各</strong></p>
            <p style="padding-top: 10px;padding-left:80px;font-size:15px"><strong>级组织成就共享分配是否公平、公正，坚决捍卫文化价值观。 本次问卷调查采用匿名问卷形式不会获取任何ID信息，</strong></p>
            <p style="padding-top: 10px;padding-left:80px;font-size:15px"><strong>敬请畅所欲言。</strong></p>
        </div>
        <div id="ss" style="margin-left:50px;font-size:15px">

        </div>
        <div>
            <button style="margin-left:400px;margin-top:150px" id="submit" type="button" class="layui-btn layui-btn-lg">提交</button>
        </div>
        <div  style="margin-top:100px;margin-left:100px">
            <span style="font-size: 15px"><strong>感谢您的参与，集团会因您的支持飞速发展！</strong></span>
        </div>
    </div>
    <script>
        $(function () {
            $.ajax({
                url: 'http://localhost:64502/api/Questionnaire/topic1',
                type: 'get',
                success: function (result) {
                    var Strhtml = "";
                    var i = 1;
                    $(result).each(function () {
                        if (this.choice == "单选") {
                            Strhtml += '<p id="' + this.topicId + '" style="margin-left:40px;margin-top:30px"><strong>' + i + '  ' + this.issue + '</strong><span style="color:dodgerblue">[单选题]</span></p>';
                        }
                        else {
                            Strhtml += '<p id="' + this.topicId + '" style="margin-left:40px;margin-top:30px"><strong>' + i + '  ' + this.issue + '</strong><span style="color:dodgerblue">[多选题]</span></p>';
                        }
                        i++;
                    });
                    $("#ss").empty().append(Strhtml);

                    $.ajax({
                        url: 'http://localhost:64502/api/Questionnaire/option1',
                        type: 'get',
                        success: function (data) {
                            var Strhtml1 = "";
                            $(data).each(function () {
                                $("#data").val(this.quesId);
                                Strhtml1 = '</br><span><input value="' + this.oid + '" style="margin-left:15px;margin-top:20px" name="' + this.choice + '"type="' + (this.choice == "单选" ? "radio" : "checkbox") + '"/>  ' + this.oname + '<span/>';
                                $('#' + this.topicId + '').append(Strhtml1);
                            });
                        }
                    });
                }
            });
        });


        $("#submit").click(function () {
            var a = $("#ss").children();
            var topid = [];
            //获取所有题的ID
            for (var i = 0; i < a.length; i++) {
                topid.push(a[i].id);
            }

            //获取所有选项的id
            var optid = [];
            for (var i = 0; i < topid.length; i++) {
                optid.push($("#" + topid[i] + "").children().find("input"));
            }

            //获取选中选项的id
            var checkid = [];
            for (var i = 0; i < optid.length; i++) {
                checkid.push(getChecked(optid[i]));
            }




            console.log(topid);
            console.log(optid);
            console.log(checkid);


            for (var i = 0; i < topid.length; i++) {
                $.ajax({
                    url: 'http://localhost:64502/api/Questionnaire/subon',
                    type: 'post',
                    data: JSON.stringify({
                        Wqid: $("#data").val(),
                        WOid: topid[i],
                        Listid: checkid[i].toString()
                    }),
                    success: function (result)
                    {
                        if (result > 0) {
                            console.log("提交成功");
                        }
                        else
                        {
                            console.log("提交失败");
                        }
                    },
                    contentType: "application/json",
                });
            }


            $.ajax({
                url: 'http://localhost:64502/api/Questionnaire/up',
                type: 'post',
                data: JSON.stringify({
                    id: $("#data").val()
                }),
                success: function (result) {
                    if (result > 0) {
                        console.log("修改成功");
                    }
                    else {
                        console.log("修改失败");
                    }
                },
                contentType: "application/json",
            });

            //封装的方法
            function getChecked(id) {
                var t1 = [];
                $(id).each(function () {
                    if (this.checked)
                        t1.push(this.value);
                });
                return t1;
            }
        });

        
    </script>
</body>
</html>