
@{
    ViewData["Title"] = "Article";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">维生特·上海</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/MVCController1/Index">首页</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/BlackList">黑名单</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Complain">举报投诉</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Recruit">招聘管理</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Questionnaire">问卷管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">内容管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Folder/Index">栏目管理</a></dd>
                        <dd><a href="">栏目公告</a></dd>
                        <dd><a href="/FolderImg/Index">栏目滚动图片</a></dd>
                        <dd><a href="/MVCController1/Article">文章管理</a></dd>
                        <dd><a href="">文章审核</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其他管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/MVCController1/Link">友情链接</a></dd>
                        <dd><a href="">访问量统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">用户管理</a></dd>
                        <dd><a href="">日志管理</a></dd>
                        <dd><a href="">角色管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 内容主体区域 -->
        <div class="layui-body">

            <!-- 搜索栏 -->
            <div class="layui-form-item demoTable" style="margin-top:5px;">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        @*<input id="artname" name="artname" autocomplete="off" class="layui-input" placeholder="-请选择-">*@
                        <select id="artname" name="artname" class="layui-input artname">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input id="folname" name="folname" autocomplete="off" class="layui-input" placeholder="-请选择-">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        @*<input id="status" name="status" autocomplete="off" class="layui-input" placeholder="-请选择-">*@
                        <select id="status" name="status" class="layui-input" lay-filter="aihao">
                            <option value="0">-请选择-</option>
                            <option value="1">显示</option>
                            <option value="2">隐藏</option>
                        </select>
                    </div>
                </div>
                <button class="layui-btn layui-btn-primary" id="btncha"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn layui-btn-primary" id="btnchong"><i class="layui-icon">&#xe9aa;</i>重置</button>
                <button class="layui-btn layui-btn-primary" id="btnzeng" data-type="auto"><i class="layui-icon">&#xe654;</i>新增</button>
            </div>
            <!-- 表格 -->
            <table class="layui-hide" lay-filter="test" id="test"></table>
            <!-- 表格右侧编辑和删除 -->
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn" lay-event="edit1">编辑内容</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
            <!-- 添加，修改弹出层 -->
            <form class="layui-form" id="create" hidden="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label">栏目</label>
                    <div class="layui-input-inline">
                        <select id="q" name="artname" class="layui-input artname">
                        </select>
                    </div>
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">发布者</label>
                    <div class="layui-input-inline">
                        <input type="text" name="createPeople" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">发布时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="createTime" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <select name="sort" lay-verify="required">
                            <option value=""></option>
                            <option value="10">10</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <input id="status2" type="radio" name="status" value="2" title="隐藏">
                        <input id="status1" type="radio" name="status" value="1" title="显示" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否评论</label>
                    <div class="layui-input-inline">
                        <input id="isComment1" type="radio" name="isComment" value="1" title="是" checked>
                        <input id="isComment2" type="radio" name="isComment" value="2" title="否">
                    </div>
                    <label class="layui-form-label">是否推荐</label>
                    <div class="layui-input-inline">
                        <input id="isRecommend1" type="radio" name="isRecommend" value="1" title="是" checked>
                        <input id="isRecommend2" type="radio" name="isRecommend" value="2" title="否">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="startTime" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endTime" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-verify="required">
                            <option value="1">正常</option>
                            <option value="2">不支持</option>
                        </select>
                    </div>
                    <label class="layui-form-label">跳转地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="jumpUrl" required lay-verify="required" placeholder="跳转地址，设置直接跳转" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图片</label>
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1" style="width:85px;height:80px;position:relative;left:215px;top:-50px">
                        <p id="demoText"></p>
                    </div>
                    
                    <div class="layui-input-inline">
                        <input id="image" type="hidden" />
                        @*<input type="text" name="空" required lay-verify="required" placeholder="网络图片url" autocomplete="off" class="layui-input">*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">附件</label>
                    <div class="layui-input-inline">
                        <input id="File1" type="file" name="空" />
                    </div>
                </div>
                @*<div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit">保存</button>
                        <button type="reset" class="layui-btn"><i class="layui-icon">&#xe9aa;</i>重置</button>
                    </div>
                </div>*@
            </form>
        </div>
    </div>

    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <script src="~/js/Setcookie.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

    <script>

        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function (elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
        //数据表格
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {
            var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , carousel = layui.carousel //轮播
                , upload = layui.upload //上传
                , element = layui.element //元素操作
                , slider = layui.slider //滑块
                , form = layui.form
            //显示数据
            table.render({
                elem: '#test'
                , url: 'http://localhost:64502/api/Article/GetArticles'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , page: true    //开启分页
                , limit: 5
                , limits: [5, 10, 15]
                , cols: [[
                    {
                        field: 'id', width: 80, title: '序号', templet: '#xuhao'
                    }
                    , { field: 'name', width: 150, title: '栏目', sort: true }
                    , { field: 'title', width: '20%', minWidth: 100, title: '名称', sort: true } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , { field: 'sort', width: 80, title: '排序', sort: true }
                    , {
                        field: 'status', width: 80, title: '状态', sort: true
                        , templet: function (d) {
                            if (d.status == 1)
                                return '显示'
                            else if (d.status == 2)
                                return '隐藏'
                        }
                    }
                    , {
                        field: 'isUp', width: 80, title: '置顶', sort: true
                        , templet: function (d) {
                            if (d.isUp == 1)
                                return '是'
                            else if (d.isUp == 2)
                                return '否'
                        }
                    }
                    , {
                        field: 'isRecommend', width: 80, title: '推荐', sort: true
                        , templet: function (d) {
                            if (d.isRecommend == 1)
                                return '是'
                            else if (d.isRecommend == 2)
                                return '否'
                        }
                    }
                    , {
                        field: 'approveStatus', width: 150, title: '审核状态', sort: true
                        , templet: function (d) {
                            if (d.approveStatus == 1)
                                return '通过'
                            else if (d.approveStatus == 2)
                                return '未通过'
                        }
                    }
                    , {
                        field: 'createTime', width: 150, title: '发布时间', sort: true
                        , templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy年-MM月-dd日 HH:mm:ss')}}</div>"
                    }
                    , { field: 'createPeople', width: 150, title: '发布者', sort: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 230 }
                ]]
            });
            //重载查询
            $('#btncha').on('click', function () {
                table.reload('test', {
                    where: { //设定异步数据接口的额外参数，任意设
                        artname: $('#artname').val(),
                        folname: $('#folname').val(),
                        status: $('#status').val()
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }); //只重载数据
            });
            //右侧点击按钮
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'edit1') {
                    layer.msg('修改状态操作');
                } else if (layEvent === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: 'http://localhost:64502/api/Article/Delete',
                            type: 'delete',
                            data: '"' + data.id + '"',
                            dataType: "json",
                            contentType: "application/json",
                            success: function (result) {
                                if (result > 0) {
                                    alert("删除成功！");

                                }
                                else {
                                    alert("删除失败！")
                                }
                            }
                        });
                        location.reload();
                    });
                } else if (layEvent === 'edit') {
                    layer.open({
                        type: 1
                        , title: '修改文章'
                        , content: $('#create')
                        , width: '500px'
                        , area: ["800px", "600px"]
                        , btn: ['提交', '关闭全部']
                        , btnAlign: 'c' //按钮居中
                        , shade: 0 //不显示遮罩
                        , success: function () {
                            //反填数据
                            $('[name="artname"]').val(data.folderId);
                            $('[name="title"]').val(data.title);
                            $('[name="createPeople"]').val(data.createPeople);
                            $('[name="createTime"]').val(data.createTime);
                            $('[name="sort"]').val(data.sort);
                            //alert(data.folderId);
                            if (data.status == 1) {
                                $("#status1").prop('checked', true)
                            } else if (data.status == 2) {
                                $("#status2").prop('checked', true)
                            };
                            if (data.isComment == 1) {
                                $("#isComment1").prop('checked', true)
                            } else if (data.isComment == 2) {
                                $("#isComment2").prop('checked', true)
                            };
                            if (data.isRecommend == 1) {
                                $("#isRecommend1").prop('checked', true)
                            } else if (data.isRecommend == 2) {
                                $("#isRecommend2").prop('checked', true)
                            };
                            $('[name="startTime"]').val(data.startTime);
                            $('[name="endTime"]').val(data.endTime);
                            $('[name="type"]').val(data.type);
                            $('[name="jumpUrl"]').val(data.jumpUrl);
                            $('[name="image"]').val(data.image);
                            form.render('select')
                            form.render('radio')
                        }
                        , btn1: function (index, layero) {

                            //修改方法
                            //alert(data.id);
                            $.ajax({
                                url: 'http://localhost:64502/api/Article/Update',
                                type: 'put',
                                data: JSON.stringify({
                                    id: data.id,
                                    folderId: $('#q').val(),
                                    title: $('[name="title"]').val(),
                                    createPeople: $('[name="createPeople"]').val(),
                                    createTime: $('[name="createTime"]').val(),
                                    sort: $('[name="sort"]').val(),
                                    status: $('[name="status"]:checked').val(),
                                    isComment: $('[name="isComment"]:checked').val(),
                                    isRecommend: $('[name="isRecommend"]:checked').val(),
                                    startTime: $('[name="startTime"]').val(),
                                    endTime: $('[name="endTime"]').val(),
                                    type: $('[name="type"]').val(),
                                    jumpUrl: $('[name="jumpUrl"]').val(),
                                    image: $('[name="image"]').val()

                                }),
                                success: function (data) {
                                    if (data > 0) {
                                        alert("修改成功");
                                        location.reload();

                                        table.reload('test', {
                                            where: { //设定异步数据接口的额外参数，任意设
                                            }
                                            , page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                        }); //只重载数据
                                    } else {
                                        alert("修改失败");
                                    }
                                },
                                dataType: "json",
                                contentType: "application/json"
                            });
                            return false;
                        }
                        , btn2: function () {
                            layer.closeAll();
                        }
                    });
                }

            });
            //绑定查询下拉框
            $(function () {
                $.ajax({
                    url: 'http://localhost:64502/api/Article/GetFolder',
                    type: 'get',
                    success: function (result) {
                        var strHtml = '';
                        strHtml += '<option value="0">-请选择-</option>';
                        $(result.data).each(function () {
                            strHtml += '<option value="' + this.id + '">' + this.name + '</option>';
                        });
                        $('.artname').empty().append(strHtml);
                        //渲染下拉
                        form.render('select');
                    }
                })
            })

            //普通图片上传
            upload.render({
                elem: '#test1'
                , url: '@Url.Action("Upload", "MVCController1")' //改成自己的上传接口
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    else {
                        $('#image').val(res.path)
                        layer.msg('上传成功');
                    }
                    //上传成功
                }
            });
        });
        //重置按钮
        $('#btnchong').click(function () {

            $('#artname').val(0),
                $('#folname').val(""),
                $('#status').val(0);
        })
        //新增弹出方法
        $('#btnzeng').click(function () {
            layer.open({
                type: 1
                , title: '添加文章'
                , content: $('#create')
                , width: '500px'
                , area: ["800px", "600px"]
                , btn: ['提交','关闭全部']
                , btnAlign: 'c' //按钮居中
                , shade: 0 //不显示遮罩
                , success: function () {
                    $("#create")[0].reset();
                    layui.form.render();
                }
                , btn1: function () {
                    //alert(JSON.stringify(data.field));
                    //添加方法
                    $.ajax({
                        url: 'http://localhost:64502/api/Article/Create',
                        type: 'post',
                        data: JSON.stringify({
                            folderId: $('#q').val(),
                            title: $('[name="title"]').val(),
                            createPeople: $('[name="createPeople"]').val(),
                            createTime: $('[name="createTime"]').val(),
                            sort: $('[name="sort"]').val(),
                            status: $('[name="status"]:checked').val(),
                            isComment: $('[name="isComment"]:checked').val(),
                            isRecommend: $('[name="isRecommend"]:checked').val(),
                            startTime: $('[name="startTime"]').val(),
                            endTime: $('[name="endTime"]').val(),
                            type: $('[name="type"]').val(),
                            jumpUrl: $('[name="jumpUrl"]').val(),
                            image: $('#image').val()
                        }),
                        success: function (data) {
                            if (data > 0) {
                                alert("添加成功");                               
                                location.reload();
                                table.reload('test', {
                                    where: { //设定异步数据接口的额外参数，任意设
                                    }
                                    , page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                }); //只重载数据
                            } else {
                                alert("添加失败");
                            }
                        },
                        dataType: "json",
                        contentType: "application/json"
                    });
                    return false;
                },
                btn2: function () {
                    layer.closeAll();
                }
            });
        })

    </script>
    <!--用来layui数据自动排序-->
    <script type="text/html" id="xuhao">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</body>
</html>

