
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">维生特·上海</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/MVCController1/Index">首页</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/BlackList">黑名单</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Complain">举报投诉</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Recruit">招聘管理</a></li>
                <li class="layui-nav-item"><a href="/MVCController1/Questionnaire">问卷管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">内容管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Folder/Index">栏目管理</a></dd>
                        <dd><a href="">栏目公告</a></dd>
                        <dd><a href="/FolderImg/Index">栏目滚动图片</a></dd>
                        <dd><a href="/MVCController1/Article">文章管理</a></dd>
                        <dd><a href="">文章审核</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其他管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/MVCController1/Link">友情链接</a></dd>
                        <dd><a href="">访问量统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">用户管理</a></dd>
                        <dd><a href="">日志管理</a></dd>
                        <dd><a href="">角色管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

    </div>
    <div class="layui-form-item" style="margin-left:5px;margin-top:3px;margin-bottom:3px">
        <div class="layui-inline" style="margin-top:3px">
            <input class="layui-input" name="title" id="tl" placeholder="请输入标题">
        </div>
        <button type="button" class="layui-btn" id="seach"><i class="layui-icon layui-icon-search">搜索</i></button>
        <button class="layui-btn" id="Cz" type="button"><i class="layui-icon layui-icon-refresh-3">重置</i></button>
        <button class="layui-btn" onclick="Add()"><i class="layui-icon layui-icon-add-1">新增</i></button>
    </div>
    <div id="xia" hidden="hidden" style="width:300px">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">问卷标题</label>
                <div class="layui-input-block">
                    <input type="text" id="ttl" name="Title" required lay-verify="required" placeholder="问卷标题" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">开始描述</label>
                <div class="layui-input-block">
                    <textarea name="BeginMs" id="bms" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">结束描述</label>
                <div class="layui-input-block">
                    <textarea name="EndMs" id="ems" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item" id="div1">
                <label class="layui-form-label">问卷状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="Qsale" value=1 title="启用" id="r1" checked>
                    <input type="radio" name="Qsale" value=0 title="禁用" id="r2">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add" type="submit">保存</button>
                    <button class="layui-btn" type="button" onclick="TT()">关闭</button>
                </div>
            </div>
        </form>
    </div>
    <div id="xia1" hidden="hidden" style="width:300px">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">问卷标题</label>
                <div class="layui-input-block">
                    <input type="hidden" name="QuesId" value=0 />
                    <input type="text" id="ttl1" name="Title" required lay-verify="required" placeholder="问卷标题" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">开始描述</label>
                <div class="layui-input-block">
                    <textarea name="BeginMs" id="bms1" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">结束描述</label>
                <div class="layui-input-block">
                    <textarea name="EndMs" id="ems1" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item" id="div2">
                <label class="layui-form-label">问卷状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="Qsale" value="1" title="启用" id="r3">
                    <input type="radio" name="Qsale" value="0" title="禁用" id="r4">
                </div>
            </div>
        </form>
    </div>
    <div id="xia2" hidden="hidden" style="width:350px">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">请编辑问题?</label>
                <div class="layui-input-block">
                    <input type="hidden" name="TqueId" value="0" />
                    <textarea name="Issue" id="iss" class="layui-textarea" required lay-verify="required" placeholder="请编辑问题"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">题目类型</label>
                <div class="layui-input-block">
                    <select name="Choice" id="cho" lay-verify="required">
                        <option value="">请选择</option>
                        <option value="单选">单选</option>
                        <option value="多选">多选</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div id="xia3" hidden="hidden" style="width:800px">
        <table id="demo1" lay-filter="test" width="10%"></table>
    </div>
    <div id="xia4" hidden="hidden">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">请输入选项</label>
                <div class="layui-input-block">
                    <input type="hidden" name="Otid" value="0" />
                    <input type="text" id="onm" name="Oname" required lay-verify="required"  autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <!-- 内容主体区域 -->
    <table id="demo" lay-filter="test" width="100%"></table>
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <script src="~/Jquery/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script type="text/html" id="barDemo">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-xs" lay-event="edit">修改</button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">推钉钉</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">推邮箱</button>
    </script>
    <script type="text/html" id="barDemo1">
        <button type="button" class="layui-btn layui-btn-xs  layui-btn-xs" lay-event="add">新增题目</button>
        <button type="button" class="layui-btn layui-btn-xs  layui-btn-xs" lay-event="select">新增选项</button>
    </script>
    <script type="text/html" id="barDemo2">
        <button type="button" class="layui-btn layui-btn-normal  layui-btn-xs">查看</button>
    </script>
    <script type="text/html" id="barDemo3">
        <button type="button" class="layui-btn layui-btn-xs  layui-btn-xs" lay-event="xx">新增选项</button>
    </script>
    <script>
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {
                    var laydate = layui.laydate //日期
                        , laypage = layui.laypage //分页
                        , layer = layui.layer //弹层
                        , table = layui.table //表格
                        , carousel = layui.carousel //轮播
                        , upload = layui.upload //上传
                        , element = layui.element //元素操作
                        , slider = layui.slider //滑块
                        , form = layui.form

                    //第一个实例
                    var tb = table.render({
                        elem: '#demo'
                        , height: 312
                        , id: 'eno'
                        , limit: 5
                        , limits:[5,10,15,20]
                        , method: 'get'
                        , url: 'http://localhost:64502/api/Questionnaire' //数据接口
                        , page: true //开启分页
                        , cols: [[ //表头
                            { field: 'quesId', title: '序号', width: 150, sort: true, fixed: 'left' }
                            , { field: 'sno', title: '问卷编号', width: 200 }
                            , { field: 'title', title: '问卷标题', width: 200 }
                            , {
                                field: 'qsale', title: '问卷状态', width: 200
                                , templet: function (d) {
                                    return d.qsale ? "已发布" : "未发布"
                                }
                            }
                            , { field: 'snum', title: '回收数量', width: 200 }
                            , {
                                field: 'createTime', title: '创建时间', width: 250
                                , templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy年-MM月-dd日 HH:mm:ss')}}</div>"
                              }
                            , { field: 'createPeople', title: '创建人', width: 138 }
                            , { fixed: 'right', title: '新增题目', toolbar: '#barDemo1', width: 200 }
                            , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 270 }
                            , { fixed: 'right', title: '查看邮件', toolbar: '#barDemo2', width: 100 }
                        ]]
                    });

                    //查询
                    $("#seach").click(function () {
                        var tle = $("#tl").val();
                        tb.reload({
                            where: { //设定异步数据接口的额外参数，传的条件
                                title: tle
                            }
                            , page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    });

                    //重置
                    $("#Cz").click(function () {
                        $("#tl").val("");
                        tb.reload({
                            where: { //设定异步数据接口的额外参数，传的条件
                                title: ""
                            }
                            , page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    });

                    //监听行工具事件
                    table.on('tool(test)', function (obj) {
                        var data = obj.data;
                        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                        //console.log(obj)
                        if (layEvent === 'del') {
                            layer.confirm('真的删除行么', function (index) {
                                $.ajax({
                                    url: 'http://localhost:64502/api/Questionnaire/delete?id=' + data.quesId,
                                    type: 'Delete',
                                    success: function (result) {
                                        if (result > 0) {
                                            layer.msg("删除成功！");
                                            tb.reload();//重载表格
                                        }
                                        else {
                                            layer.msg("删除失败！");
                                        }
                                    }
                                });
                            });
                        }
                        else if (obj.event === 'edit') {
                            lxx = layer.open({
                                type: 1,
                                btn: ['保存', '关闭'],
                                area: ['350px']
                                , resize: false
                                , title: "修改"
                                , skin: 'demo-class'
                                , btnAlign: 'c'
                                , success: function () {
                                    $("[name=Title]").val(data.title);
                                    $("[name=BeginMs]").val(data.beginMs);
                                    $("[name=EndMs]").val(data.endMs);
                                    if (data.qsale == 1) {
                                        $("#r3").prop('checked', true);
                                    }
                                    else if (data.qsale == 0) {
                                        $("#r4").prop('checked', true);
                                    }
                                    form.render();
                                }
                                , content: $('#xia1') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                , yes: function (index, layero) {
                                    $.ajax({
                                        url: 'http://localhost:64502/api/Questionnaire/edit',
                                        type: 'POST',
                                        data: JSON.stringify({
                                            QuesId: data.quesId,
                                            Title: $("#ttl1").val(),
                                            BeginMs: $("#bms1").val(),
                                            EndMs: $("#ems1").val(),
                                            Qsale: $("#r3").prop('checked') == true ? 1 : 0
                                        }),
                                        success: function (result) {
                                            if (result > 0) {
                                                layer.msg("修改成功!");
                                                layer.close(lxx);
                                                tb.reload();
                                            }
                                            else {
                                                layer.msg("修改失败!");
                                            }
                                        },
                                        //dataType: "json",
                                        contentType: "application/json",
                                    });
                                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                                }
                                , btn2: function (index, layero) {
                                    layer.closeAll();
                                }
                            })
                        }
                        else if (obj.event === 'add') {
                            lxx1 = layer.open({
                                type: 1,
                                btn: ['保存', '关闭'],
                                area: ['400px', '400px']
                                , resize: false
                                , title: "新增题目"
                                , skin: 'demo-class'
                                , btnAlign: 'c'
                                , success: function () {
                                    $("[name=Issue]").val("");
                                    $("[name=Choice]").val("");
                                    form.render();
                                }
                                , content: $('#xia2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                , yes: function (index, layero) {
                                    $.ajax({
                                        url: 'http://localhost:64502/api/Questionnaire/topic',
                                        type: 'POST',
                                        data: JSON.stringify({
                                            TqueId: data.quesId,
                                            Issue: $("#iss").val(),
                                            Choice: $("#cho").val(),
                                        }),
                                        success: function (result) {
                                            if (result > 0) {
                                                layer.msg("添加成功!");
                                                layer.close(lxx1);
                                                tb.reload();
                                            }
                                            else {
                                                layer.msg("添加失败!");
                                            }
                                        },
                                        //dataType: "json",
                                        contentType: "application/json",
                                    });
                                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                                }
                                , btn2: function (index, layero) {
                                    layer.closeAll();
                                }
                            })
                        }
                        else if (obj.event === 'select') {
                            layer.open({
                                type: 1,
                                btn: ['关闭'],
                                area: ['550px', '300px']
                                , resize: false
                                , title: "题目显示"
                                , skin: 'demo-class'
                                , btnAlign: 'c'
                                , success: function () {
                                    //第二个实例
                                    var tb1 = table.render({
                                        elem: '#demo1'
                                        , height: 200
                                        , limit: 5
                                        , limits: [5, 10, 15, 20]
                                        , method: 'get'
                                        , url: 'http://localhost:64502/api/Questionnaire/topic?id=' + data.quesId //数据接口
                                        , page: true //开启分页
                                        , cols: [[ //表头
                                            { field: 'topicId', title: '序号', width: 100, sort: true, fixed: 'left' }
                                            , { field: 'issue', title: '题目名称', width: 200 }
                                            , { field: 'choice', title: '题目类型', width: 100 }
                                            , { fixed: 'right', title: '增加选项', toolbar: '#barDemo3', width: 100 }
                                        ]]
                                    });

                                }
                                , content: $('#xia3') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                , yes: function (index, layero) {
                                    layer.closeAll();
                                }
                            })
                        }
                        else if (obj.event === 'xx')
                        {
                            lxx2 = layer.open({
                                type: 1,
                                btn: ['保存', '关闭'],
                                area: ['400px', '300px']
                                , resize: false
                                , title: "新增选项"
                                , skin: 'demo-class'
                                , btnAlign: 'c'
                                , success: function () {
                                    $("[name=Oname]").val("");
                                }
                                , content: $('#xia4') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                , yes: function (index, layero) {
                                    $.ajax({
                                        url: 'http://localhost:64502/api/Questionnaire/option',
                                        type: 'POST',
                                        data: JSON.stringify({
                                            Otid: data.topicId,
                                            Oname: $("#onm").val()
                                        }),
                                        success: function (result) {
                                            if (result > 0) {
                                                layer.msg("添加成功!");
                                                layer.close(lxx2);
                                                tb.reload();
                                            }
                                            else {
                                                layer.msg("添加失败!");
                                            }
                                        },
                                        //dataType: "json",
                                        contentType: "application/json",
                                    });
                                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                                }
                                , btn2: function (index, layero) {
                                    layer.close(lxx2);
                                }
                            })
                        }
                    });

                    //添加

                    form.on('submit(add)', function (data) {
                        console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                        console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                        console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                        $.ajax({
                            url: 'http://localhost:64502/api/Questionnaire',
                            type: 'POST',
                            data: JSON.stringify({
                                Title: $("#ttl").val(),
                                BeginMs: $("#bms").val(),
                                EndMs: $("#ems").val(),
                                Qsale: $('#div1 input[type="radio"] checked').val()
                            }),
                            success: function (result) {
                                if (result > 0) {
                                    layer.msg("添加成功!");
                                    layer.close(lx);
                                    tb.reload();
                                }
                                else {
                                    layer.msg("添加失败!");
                                }
                            },
                            //dataType: "json",
                            contentType: "application/json",
                        });
                        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                    });
                });

        function Add() {
            lx = layer.open({
                type: 1,
                area: ['350px']
                , resize: false
                , title: "新增问卷"
                , success: function () {
                    $("[name=Title]").val("");
                    $("[name=BeginMs]").val("");
                    $("[name=EndMs]").val("");
                }
                , content: $('#xia') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }
        function TT()
        {
            layer.closeAll();
        }



        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function (elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
    </script>
</body>
</html>

